body {
    font-family: "Sawarabi Mincho", serif;
    background-color: #f8f7f2;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #722f5d;
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: normal;
}

.border-line {
    border-top: 1px solid #d9d0c3;
    border-bottom: 1px solid #d9d0c3;
    height: 3px;
    margin: 20px 0 40px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.section {
    margin-bottom: 30px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.diamond {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
    transform: rotate(45deg);
    margin-right: 10px;
}

.company-info {
    margin-left: 50px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #d9c9a3;
}

th {
    background-color: #e6e2dc;
    width: 25%;
}

td {
    background-color: #fff;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}

li:before {
    content: "ãƒ»";
    position: absolute;
    left: 0;
}